<!DOCTYPE html>
<html lang="en" ng-app="queueMonitor">
<head>
    <meta charset="UTF-8">
    <title>Queue Monitor v0.1 - Outbound Calls</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery.min.js"></script>

    <script src="js/angular.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    <script src="js/main.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">Rabbit CDR</a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li><a href="/">Inbound</a></li>
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/reports">Report</a></li>
                <li><a href="/users">User Manager</a></li>
                <li class="pull-right"><a href="/exit">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row" ng-controller="outBoundController">
    <div class="col-lg-10">
        <ul class="table-slider">
            <li class="active">
                <div class="panel panel-success agent-tile-holder">
                    <div class="panel-heading">Fresh A</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Extension</th>
                                <th>Status</th>
                                <th>Response Rate</th>
                                <th>Talking to</th>
                                <th>Total Calls</th>
                                <th>Answered</th>
                                <th>Failed</th>
                                <th>Total Talk Time</th>
                                <th>Average Talk Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ peer.extension }}" list-index="{{$index}}"
                                ng-repeat="peer in peerslist" ng-if="teams.fresh_a.indexOf(peer.extension *1) >= 0">

                                <td><h5>{{ peer.name.substring(0,peer.name.indexOf(' ')) }}</h5></td>

                                <td>{{ peer.extension }}</td>

                                <td style="font-size: 12px" width="12%">
                                    <i style="margin-top: -2px" ng-show="peer.status == 'In a call'"
                                       class="circle-status status-ringing blink"></i>
                                    <i style="margin-top: -2px"
                                       ng-show="peer.status != 'UNKNOWN' && peer.status != 'UNREACHABLE' && peer.status != 'In a call'"
                                       class="circle-status status-not-inuse"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNREACHABLE'"
                                       class="circle-status status-busy"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNKNOWN'"
                                       class="circle-status status-unavail"></i>

                                    <div>{{ peer.status.length ? peer.status : 'Ready'}}</div>
                                </td>
                                <td width="20%">
                                    <div class="progress pull-left"
                                         style="height: 10px;width:100px;margin-top:5px;margin-left:5px;margin-right:5px">
                                        <div class="progress-bar {{ getProgressColorClass(peer.response_rate) }}"
                                             role="progressbar"
                                             aria-valuenow="{{ peer.response_rate * 100 }}"
                                             style="width:{{ peer.response_rate * 100 }}%">
                                        </div>
                                    </div>
                                    <div style="font-size: 12px;padding-top: 4px;"><b>{{peer.response_rate ?
                                        (peer.response_rate *100 | number:2) : 0 }}%</b></div>
                                </td>
                                <td width="15%">{{ peer.destination }} <span id="{{ peer.extension }}"></span></td>

                                <td>{{ peer.total_calls ? peer.total_calls : 0 }}</td>
                                <td>{{ peer.answered_calls ? peer.answered_calls : 0}}</td>
                                <td>{{ peer.failed_calls ? peer.failed_calls : 0 }}</td>
                                <td>{{ peer.totalTalk ? peer.totalTalk : '00:00:00' }}</td>
                                <td>{{ peer.averageTalk ? peer.averageTalk : '00:00:00' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-success agent-tile-holder">
                    <div class="panel-heading">Fresh B</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Extension</th>
                                <th>Status</th>
                                <th>Response Rate</th>
                                <th>Talking to</th>
                                <th>Total Calls</th>
                                <th>Answered</th>
                                <th>Failed</th>
                                <th>Total Talk Time</th>
                                <th>Average Talk Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ peer.extension }}" list-index="{{$index}}"
                                ng-repeat="peer in peerslist" ng-if="teams.fresh_b.indexOf(peer.extension *1) >= 0">

                                <td><h5>{{ peer.name.substring(0,peer.name.indexOf(' ')) }}</h5></td>
                                <td>{{ peer.extension }}</td>


                                <td style="font-size: 12px" width="12%">
                                    <i style="margin-top: -2px" ng-show="peer.status == 'In a call'"
                                       class="circle-status status-ringing blink"></i>
                                    <i style="margin-top: -2px"
                                       ng-show="peer.status != 'UNKNOWN' && peer.status != 'UNREACHABLE' && peer.status != 'In a call'"
                                       class="circle-status status-not-inuse"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNREACHABLE'"
                                       class="circle-status status-busy"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNKNOWN'"
                                       class="circle-status status-unavail"></i>

                                    <div>{{ peer.status.length ? peer.status : 'Ready'}}</div>
                                </td>
                                <td width="15%">
                                    <div class="progress pull-left"
                                         style="height: 10px;width:100px;margin-top:5px;margin-left:5px;margin-right:5px">
                                        <div class="progress-bar {{ getProgressColorClass(peer.response_rate) }}"
                                             role="progressbar"
                                             aria-valuenow="{{ peer.response_rate * 100 }}"
                                             style="width:{{ peer.response_rate * 100 }}%">
                                        </div>
                                    </div>
                                    <div style="font-size: 12px;padding-top: 4px;"><b>{{peer.response_rate ?
                                        (peer.response_rate *100 | number:2) : 0 }}%</b></div>
                                </td>
                                <td width="20%">{{ peer.destination }} <span id="{{ peer.extension }}"></span></td>

                                <td>{{ peer.total_calls ? peer.total_calls : 0 }}</td>
                                <td>{{ peer.answered_calls ? peer.answered_calls : 0}}</td>
                                <td>{{ peer.failed_calls ? peer.failed_calls : 0 }}</td>
                                <td>{{ peer.totalTalk ? peer.totalTalk : '00:00:00' }}</td>
                                <td>{{ peer.averageTalk ? peer.averageTalk : '00:00:00' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-success agent-tile-holder">
                    <div class="panel-heading">Data Bank A</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Extension</th>
                                <th>Status</th>
                                <th>Response Rate</th>
                                <th>Talking to</th>
                                <th>Total Calls</th>
                                <th>Answered</th>
                                <th>Failed</th>
                                <th>Total Talk Time</th>
                                <th>Average Talk Time</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ peer.extension }}" list-index="{{$index}}"
                                ng-repeat="peer in peerslist"
                                ng-if="teams.data_bank_a.indexOf(peer.extension *1) >= 0">

                                <td><h5>{{ peer.name.substring(0,peer.name.indexOf(' ')) }}</h5></td>
                                <td>{{ peer.extension }}</td>

                                <td style="font-size: 12px" width="12%">
                                    <i style="margin-top: -2px" ng-show="peer.status == 'In a call'"
                                       class="circle-status status-ringing blink"></i>
                                    <i style="margin-top: -2px"
                                       ng-show="peer.status != 'UNKNOWN' && peer.status != 'UNREACHABLE' && peer.status != 'In a call'"
                                       class="circle-status status-not-inuse"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNREACHABLE'"
                                       class="circle-status status-busy"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNKNOWN'"
                                       class="circle-status status-unavail"></i>

                                    <div>{{ peer.status.length ? peer.status : 'Ready'}}</div>
                                </td>
                                <td width="20%">
                                    <div class="progress pull-left"
                                         style="height: 10px;width:100px;margin-top:5px;margin-left:5px;margin-right:5px">
                                        <div class="progress-bar {{ getProgressColorClass(peer.response_rate) }}"
                                             role="progressbar"
                                             aria-valuenow="{{ peer.response_rate * 100 }}"
                                             style="width:{{ peer.response_rate * 100 }}%">
                                        </div>
                                    </div>
                                    <div style="font-size: 12px;padding-top: 4px;"><b>{{peer.response_rate ?
                                        (peer.response_rate *100 | number:2) : 0 }}%</b></div>
                                </td>
                                <td width="15%">{{ peer.destination }} <span id="{{ peer.extension }}"></span></td>

                                <td>{{ peer.total_calls ? peer.total_calls : 0 }}</td>
                                <td>{{ peer.answered_calls ? peer.answered_calls : 0}}</td>
                                <td>{{ peer.failed_calls ? peer.failed_calls : 0 }}</td>
                                <td>{{ peer.totalTalk ? peer.totalTalk : '00:00:00' }}</td>
                                <td>{{ peer.averageTalk ? peer.averageTalk : '00:00:00' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-success agent-tile-holder">
                    <div class="panel-heading">Data Bank B</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Extension</th>
                                <th>Status</th>
                                <th>Response Rate</th>
                                <th>Talking to</th>
                                <th>Total Calls</th>
                                <th>Answered</th>
                                <th>Failed</th>
                                <th>Total Talk Time</th>
                                <th>Average Talk Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ peer.extension }}" list-index="{{$index}}"
                                ng-repeat="peer in peerslist"
                                ng-if="teams.data_bank_b.indexOf(peer.extension *1) >= 0">

                                <td><h5>{{ peer.name.substring(0,peer.name.indexOf(' ')) }}</h5></td>
                                <td>{{ peer.extension }}</td>

                                <td style="font-size: 12px" width="12%">
                                    <i style="margin-top: -2px" ng-show="peer.status == 'In a call'"
                                       class="circle-status status-ringing blink"></i>
                                    <i style="margin-top: -2px"
                                       ng-show="peer.status != 'UNKNOWN' && peer.status != 'UNREACHABLE' && peer.status != 'In a call'"
                                       class="circle-status status-not-inuse"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNREACHABLE'"
                                       class="circle-status status-busy"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNKNOWN'"
                                       class="circle-status status-unavail"></i>

                                    <div>{{ peer.status.length ? peer.status : 'Ready'}}</div>
                                </td>
                                <td width="20%">
                                    <div class="progress pull-left"
                                         style="height: 10px;width:100px;margin-top:5px;margin-left:5px;margin-right:5px">
                                        <div class="progress-bar {{ getProgressColorClass(peer.response_rate) }}"
                                             role="progressbar"
                                             aria-valuenow="{{ peer.response_rate * 100 }}"
                                             style="width:{{ peer.response_rate * 100 }}%">
                                        </div>
                                    </div>
                                    <div style="font-size: 12px;padding-top: 4px;"><b>{{peer.response_rate ?
                                        (peer.response_rate *100 | number:2) : 0 }}%</b></div>
                                </td>
                                <td width="15%">{{ peer.destination }} <span id="{{ peer.extension }}"></span></td>

                                <td>{{ peer.total_calls ? peer.total_calls : 0 }}</td>
                                <td>{{ peer.answered_calls ? peer.answered_calls : 0}}</td>
                                <td>{{ peer.failed_calls ? peer.failed_calls : 0 }}</td>
                                <td>{{ peer.totalTalk ? peer.totalTalk : '00:00:00' }}</td>
                                <td>{{ peer.averageTalk ? peer.averageTalk : '00:00:00' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-success agent-tile-holder">
                    <div class="panel-heading">Data Bank C</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Extension</th>
                                <th>Status</th>
                                <th>Response Rate</th>
                                <th>Talking to</th>
                                <th>Total Calls</th>
                                <th>Answered</th>
                                <th>Failed</th>
                                <th>Total Talk Time</th>
                                <th>Average Talk Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ peer.extension }}" list-index="{{$index}}"
                                ng-repeat="peer in peerslist"
                                ng-if="teams.data_bank_c.indexOf(peer.extension *1) >= 0">

                                <td><h5>{{ peer.name.substring(0,peer.name.indexOf(' ')) }}</h5></td>
                                <td>{{ peer.extension }}</td>

                                <td style="font-size: 12px" width="12%">
                                    <i style="margin-top: -2px" ng-show="peer.status == 'In a call'"
                                       class="circle-status status-ringing blink"></i>
                                    <i style="margin-top: -2px"
                                       ng-show="peer.status != 'UNKNOWN' && peer.status != 'UNREACHABLE' && peer.status != 'In a call'"
                                       class="circle-status status-not-inuse"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNREACHABLE'"
                                       class="circle-status status-busy"></i>
                                    <i style="margin-top: -2px" ng-show="peer.status == 'UNKNOWN'"
                                       class="circle-status status-unavail"></i>

                                    <div>{{ peer.status.length ? peer.status : 'Ready'}}</div>
                                </td>
                                <td width="20%">
                                    <div class="progress pull-left"
                                         style="height: 10px;width:100px;margin-top:5px;margin-left:5px;margin-right:5px">
                                        <div class="progress-bar {{ getProgressColorClass(peer.response_rate) }}"
                                             role="progressbar"
                                             aria-valuenow="{{ peer.response_rate * 100 }}"
                                             style="width:{{ peer.response_rate * 100 }}%">
                                        </div>
                                    </div>
                                    <div style="font-size: 12px;padding-top: 4px;"><b>{{peer.response_rate ?
                                        (peer.response_rate *100 | number:2) : 0 }}%</b></div>
                                </td>
                                <td width="15%">{{ peer.destination }} <span id="{{ peer.extension }}"></span></td>

                                <td>{{ peer.total_calls ? peer.total_calls : 0 }}</td>
                                <td>{{ peer.answered_calls ? peer.answered_calls : 0}}</td>
                                <td>{{ peer.failed_calls ? peer.failed_calls : 0 }}</td>
                                <td>{{ peer.totalTalk ? peer.totalTalk : '00:00:00' }}</td>
                                <td>{{ peer.averageTalk ? peer.averageTalk : '00:00:00' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-lg-1">
        <div class="panel panel-warning" style="margin-right: 10px;margin-top: 1px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Active Calls</div>
            <div class="panel-body">
                <h1 class="text-danger text-center">{{ activeCalls }}</h1>
            </div>
        </div>
        <div class="panel panel-warning" style="margin-right: 10px;margin-top: 1px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Total Calls</div>
            <div class="panel-body">
                <h1 class="text-danger text-center">{{ todayTotalCalls }}</h1>
            </div>
        </div>
        <div class="panel panel-success" style="margin-right: 10px;margin-top: 1px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Answered</div>
            <div class="panel-body">
                <h1 class="text-success text-center">{{ todayAnsweredCalls }}</h1>
            </div>
        </div>
        <div class="panel panel-success" style="margin-right: 10px;margin-top: 1px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Average Talk</div>
            <div class="panel-body">
                <h3 class="text-danger text-center">{{ averageTotalTalk }}</h3>
            </div>
        </div>
        <div class="panel panel-primary" style="margin-right: 10px;margin-top: 1px;">
            <!-- Default panel contents -->
            <div class="panel-heading">Total Talk</div>
            <div class="panel-body">
                <h3 class="text-danger text-center">{{ todayTotalTalk }}</h3>
            </div>
        </div>
    </div>
</div>
</body>
