.circle-status {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.status-busy {
    background-color: #F30000;
}

.status-inuse {
    background-color: #F89406;
}

.status-not-inuse {
    background-color: #26A65B;
}

.status-unavail {
    background-color: #D2D7D3;
}

.status-ringing {
    background-color: #3498DB;
}

.status-waiting {
    background-color: #d35400;
}

.status-holding {
    background-color: #2c3e50;
}

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.panel-center {
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

.agent-tile {
    width: 210px;
    height: 150px;
    border: 1px solid #BDC3C7;
    background-color: #EEEEEE;
    float: left;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 5px;
    padding: 5px;
}

.agent-tile-holder {
    margin-top: 1px;
    margin-left: 1%;
    margin-right: 1%
}

.agent-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

.agent-info-list li {
    float: left;
    margin-right: 5px
}